{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Samsara API",
    "description" : "<style type=\"text/css\">\nn {\n    padding: 1em;\n    width: 100%;\n    display: block;\n    margin: 28px 0;\n}\nn.info {\n    background-color: rgba(0, 51, 160, 0.1);\n}\nn.warning {\n    background-color: #fdf6e3;\n}\ni:before {\n    margin-right: 6px;\n}\nnh {\n    font-size: 1.5rem;\n    font-weight: 700;\n    line-height: 1.1;\n    display: block;\n}\nnb {\n    margin-top: 10px;\n    padding-left: 22px;\n    display: block;\n}\n</style>\n\n# Overview\n\n<n class=\"info\">\n<nh>\n<i class=\"fa fa-info-circle\"></i>\nSomething new!\n</nh>\n<nb>\nWelcome Samsara's new and improved API. Check out our FAQ [here](https://developers.samsara.com/docs/introducing-our-next-generation-api) to see what's changed and learn how to get started.<br>\n<br>\nWant to access the legacy API docs? You can find them [here](https://www.samsara.com/api-legacy).<br>\n<br>\n*Note: Because this is a new set of APIs, we have not transitioned all endpoints over to this standard. Endpoints that still use the legacy standards are indicated in the reference documentation. If you can't find an API that you're looking for, we encourage you to look for it in our [legacy API docs](https://www.samsara.com/api-legacy) as we continue to transition all endpoints over. Check back here for updates!*<br>\n<br>\nSubmit your feedback [here](https://forms.gle/r4bs6HQshQAvBuwv6)!\n</nb>\n</n>\n\nSamsara provides API endpoints so that you can build powerful applications and custom solutions with sensor data. Samsara has endpoints available to track and analyze sensors, vehicles, and entire fleets.\n\nThe Samsara API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer). It uses standard [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) authentication, verbs, and response codes, and it returns [JSON](http://www.json.org/) response bodies. If you're familiar with what you can build with a REST API, then this will be your go-to API reference.\n\nVisit [developers.samsara.com](https://developers.samsara.com) to find getting started guides and an API overview.\n\nIf you have any questions, please visit https://samsara.com/help.\n\n## Endpoints\n\nAll our APIs can be accessed through HTTP requests to URLs like:\n\n```\nhttps://api.samsara.com/<endpoint>\n```\n\nFor EU customers, this URL will be:\n\n```\nhttps://api.eu.samsara.com/<endpoint>\n```\n\n<n class=\"warning\">\n<nh>\n<i class=\"fa fa-exclamation-circle\"></i>\nNote\n</nh>\n<nb>\nLegacy endpoints will have the URL: `https://api.samsara.com/v1/<endpoint>` or `https://api.eu.samsara.com/v1/<endpoint>`\n</nb>\n</n>\n\n## Authentication\n\nTo authenticate your API request you will need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com). They are visible under `Settings->Organization->API Tokens`.\n\nYour API tokens carry many privileges, so be sure to keep them secure. Do not share your secret API tokens in publicly accessible areas such as GitHub, client-side code, and so on.\n\nAuthentication to the API is performed via Bearer Token in the HTTP Authorization header. Provide your API token as the `access_token` value in an `Authorization: Bearer` header. You do not need to provide a password:\n\n```curl\nAuthorization: Bearer {access_token}\n```\n\nAll API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP or without authentication will fail.\n\n## Common Patterns\n\nYou can find more info about request methods, response codes, error codes, versioning, pagination, timestamps, and mini-objects [here](https://developers.samsara.com/docs/common-structures).\n",
    "version" : "2020-06-15"
  },
  "servers" : [ {
    "url" : "https://api.samsara.com/"
  } ],
  "tags" : [ {
    "name" : "Addresses",
    "description" : "Address book entries in Samsara can be used to collect useful data about operations within a particular address's geofence area. Once an address book entry is established, this address can then subsequently be used in order to create routes, set geofence arrival alerts, or detect trips that begin or end within a given geofence area."
  }, {
    "name" : "Assets",
    "description" : "Assets refer to objects that are tracked with Samsara Asset Gateways. These include: trailers, reefers, equipment (construction, etc.), containers, and anything else you'd like to track with a Samsara Asset Gateway. This is different than Vehicles, which specifically have a Samsara Vehicle Gateway. Depending on the asset, different data is available. For all assets, GPS data is available. For powered assets like trailers, reefers, and equipment, other engine or on-board diagnostic data is available."
  }, {
    "name" : "Camera Media"
  }, {
    "name" : "Carrier Proposed Assignments",
    "description" : "Carriers (fleet managers) can propose vehicle, trailer, and shipping assignments to Drivers through the Carrier Proposed Assignments API. This set of APIs will allow you to define an assignment proposal to a Driver. The proposed assignment will be presented to the Driver in the Samsara Driver App. The Driver may accept or reject the assignment. Retrieving a list of existing proposed assignments will tell you whether the Driver accepted or rejected the proposal."
  }, {
    "name" : "Contacts",
    "description" : "Contacts are an easy way to manage which users receive alerts (via sms or email)."
  }, {
    "name" : "Documents",
    "description" : "The documents feature allows you to manage driver-submitted documents from the Samsara app. Submitted documents are grouped by document types, and back office users can create new types of documents. For more information on the driver workflow around documents, see this [KB article](https://kb.samsara.com/hc/en-us/articles/360006911551-Using-Documents-in-the-Dashboard)."
  }, {
    "name" : "Drivers",
    "description" : "Driver objects allow you to track your driver-vehicle assignments, manage driver profiles, and update mobile app credential logins. You can retrieve a list of all drivers, or you can fetch each driver object individually.\nDrivers can be either active or inactive. You should inactivate a driver if you wish to keep the driver's driving history and HOS logs. If your driver is inactive, you can still get information about a driver summary."
  }, {
    "name" : "Driver Vehicle Assignments"
  }, {
    "name" : "Equipment",
    "description" : "Equipment objects represent powered assets connected to a [Samsara AG24](https://www.samsara.com/products/models/ag24) device via an APWR, CAT, or J1939 cable. They are automatically created with a unique Samsara Equipment ID whenever a Samsara AG24 is activated in your organization."
  }, {
    "name" : "Hours of Service",
    "description" : "Driver logs containing duty status, certification details, and associated vehicles and trailers are available. You can also retrieve summarized total active time logs. Signin/Signout logs are also available. Drivers can track hours of service via the Samsara Driver mobile app.\n\n**Note:** If data is still being uploaded from the Samsara Driver App, it may not be completely reflected by the API. The best practice is to wait a couple of days before querying the API to make sure that all data from the Samsara Driver App has been uploaded."
  }, {
    "name" : "Industrial",
    "description" : "Access to industrial data."
  }, {
    "name" : "Maintenance",
    "description" : "Maintenance refers to both DVIRs and reports on vehicle fault codes."
  }, {
    "name" : "Messages",
    "description" : "Fleet Admins can send direct free-form messages to drivers. This will send a message to the driver's Samsara driver app, in which you can track whether or not a message has been read by a given driver. For sending structured messages, see the Documents API."
  }, {
    "name" : "Organization Info",
    "description" : "Information about the organization."
  }, {
    "name" : "Routes",
    "description" : "Dispatch routes include start and end times and locations and an array of jobs along the route. The jobs also include locations and scheduled arrival and departure times. As routes are completed, job skip, arrival, and completion times are made available in real-time. Routes can be associated with drivers, vehicles, and trailers, and jobs can be associated with documents."
  }, {
    "name" : "Safety",
    "description" : "Samsara provides you with more visibility on whether or not your fleets are being safe. With the collection of safety endpoints, you can get aggregate metrics around the performance of a particular driver or vehicle, as well as detailed logs of all the harsh events that take place in an organization."
  }, {
    "name" : "Sensors",
    "description" : "The sensor object describes a sensor's attributes and settings within Samsara. Samsara has many different types of sensors, such as temperature and humidity monitors, door monitors, and more."
  }, {
    "name" : "Tags",
    "description" : "Tags are a simple way to organize vehicles, drivers, assets, and sensors into easily identifiable groups. You can add unlimited entities to each tag, and entities can have multiple different tags. You can also use tag hierarchies in order to create nested classes, such as parent tag 'Massachusetts' and child tag 'Boston'. They also allow you to restrict access to data through \"tag-level\" permissions. For more information on tags functionality, see [this Knowledge Base article](https://kb.samsara.com/hc/en-us/articles/360026674631-Using-Tags-and-Tag-Nesting)."
  }, {
    "name" : "Trailer Assignments",
    "description" : "List trailer assignments over a given time period for all trailers or a given one. Trailer assignments include which driver the trailer was assigned to and for which time period."
  }, {
    "name" : "Trips",
    "description" : "Driving activity is segmented into trips (travel between a start and a stop). Vehicle movement is broken down into trips along the following lines: a trip begins when a previously inactive vehicle achieves a speed of 5mph; the trip ends when the vehicle's speed remains below 5mph for 5 minutes, or when a vehicle crosses a state or national boundary. Trips contain start and stop times, locations, and addresses. Trips also contain distance and odometer information as well as fuel consumption."
  }, {
    "name" : "Users",
    "description" : "The users API allows you to manage access to the Samsara dashboard. This can be particularly useful if you are looking to set up a connection with your identity provider to manage roles and permissions for certain types of users within your system."
  }, {
    "name" : "Vehicles",
    "description" : "A Vehicle object is created when a [Samsara Vehicle Gateway](https://www.samsara.com/products/models/vg34) is first activated. The Vehicle object will be assigned a unique ID that does not change. Samsara will associate all the telematics data from the gateway with the given Vehicle object. If a gateway is [moved from one vehicle to another](https://kb.samsara.com/hc/en-us/articles/360042699732-Moving-a-Vehicle-Gateway-from-One-Vehicle-to-Another), then a new Vehicle object will be created with a new ID. The old Vehicle object will still have its original ID and its historical data will still be accessible, however the gateway will no longer be associated with that vehicle object. You can manage a Vehicle's attributes (such as `name`, `licensePlate`, etc.) both through the API and the Samsara [cloud dashboard](https://cloud.samsara.com)."
  }, {
    "name" : "Vehicle Driver Assignments"
  }, {
    "name" : "Vehicle Stats",
    "description" : "Get real-time or historical GPS and onboard diagnostic data.\n\nRelated guide: [Telematics](https://developers.samsara.com/docs/vehicle-stats)"
  }, {
    "name" : "Vehicle Locations",
    "description" : "***NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new [Vehicle Stats API](#tag/Vehicle-Stats) instead.***\n\nGet real-time or historical GPS data.\n\nRelated guide: [Vehicle Locations](https://developers.samsara.com/docs/vehicle-locations)"
  }, {
    "name" : "Beta APIs",
    "description" : "Endpoints in this section are in beta. This means that developers should **NOT** rely on these APIs to build business critical applications. The goal is to be able to release these APIs in the near future but, before doing so, ensure that we can collect feedback on the structure of their interfaces and their functionality.\n\n- Samsara may change the structure of a beta API’s interface without versioning this endpoint or any notice to beta users.\n\n- To submit feedback on these beta APIs, please fill out [this form](https://forms.gle/up7uFmJ8f2EKq8xm7).\n\n- When an endpoint becomes generally available, it will be announced in the API [changelog](https://developers.samsara.com/changelog).\n\n- If an issue or bug is experienced with any of these APIs, please submit an entry in the [feedback form](https://forms.gle/up7uFmJ8f2EKq8xm7)."
  }, {
    "name" : "Preview APIs",
    "description" : "Endpoints in this section are in Preview. These APIs are not functional and are instead for soliciting feedback from our API users on the intended design of this API. Additionally, it is not guaranteed that we will be releasing an endpoint included in this section to production. This means that developers should **NOT** rely on these APIs to build business critical applications\n\n- Samsara may change the structure of a preview API's interface without versioning or any notice to API users.\n\n- To submit feedback on these preview APIs, please fill out [this form](https://forms.gle/up7uFmJ8f2EKq8xm7).\n\n- When an endpoint becomes generally available, it will be announced in the API [changelog](https://developers.samsara.com/changelog).\n\n- If an issue or bug is experienced with any of these APIs, please submit an entry in the [feedback form](https://forms.gle/up7uFmJ8f2EKq8xm7)."
  } ],
  "paths" : {
    "/addresses" : {
      "get" : {
        "tags" : [ "Addresses" ],
        "summary" : "List all addresses",
        "description" : "Returns a list of all addresses in an organization",
        "operationId" : "listAddresses",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 512,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentTagIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "tagIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "createdAfterTime",
          "in" : "query",
          "description" : "A filter on data to have a created at time after or equal to this specified time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of all addresses in the organization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListAddressesResponse"
                },
                "example" : {
                  "data" : [ {
                    "addressTypes" : [ "yard" ],
                    "contacts" : [ {
                      "firstName" : "Jane",
                      "id" : "22408",
                      "lastName" : "Jones"
                    } ],
                    "createdAtTime" : "2019-05-18T20:27:35Z",
                    "externalIds" : {
                      "maintenanceId" : "250020",
                      "payrollId" : "ABFS18600"
                    },
                    "formattedAddress" : "350 Rhode Island St, San Francisco, CA",
                    "geofence" : {
                      "circle" : {
                        "latitude" : 37.765363,
                        "longitude" : -122.4029238,
                        "radiusMeters" : 25
                      },
                      "polygon" : {
                        "vertices" : [ {
                          "latitude" : 37.765363,
                          "longitude" : -122.403098
                        }, {
                          "latitude" : 38.765363,
                          "longitude" : -122.403098
                        }, {
                          "latitude" : 37.765363,
                          "longitude" : -123.403098
                        } ]
                      }
                    },
                    "id" : "22408",
                    "latitude" : 37.765363,
                    "longitude" : -122.4029238,
                    "name" : "Samsara HQ",
                    "notes" : "Hours of operation: 8am - 6pm; Truck entrance on the Rhode Island street side.",
                    "tags" : [ {
                      "id" : "3914",
                      "name" : "East Coast",
                      "parentTagId" : "4815"
                    } ]
                  } ],
                  "pagination" : {
                    "endCursor" : "MjkY",
                    "hasNextPage" : true
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Addresses" ],
        "summary" : "Create an address",
        "description" : "Creates a new address in the organization",
        "operationId" : "createAddress",
        "requestBody" : {
          "description" : "The address to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateAddressRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Newly created address object with ID.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "address"
      }
    },
    "/addresses/{id}" : {
      "get" : {
        "tags" : [ "Addresses" ],
        "summary" : "Retrieve an address",
        "description" : "Returns a specific address.",
        "operationId" : "getAddress",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the Address. This can either be the Samsara-provided ID or an external ID. External IDs are customer-specified key-value pairs created in the POST or PATCH requests of this resource. To specify an external ID as part of a path parameter, use the following format: `key:value`. For example, `crmId:abc123`",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An Address.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Addresses" ],
        "summary" : "Delete an address",
        "description" : "Delete a specific address.",
        "operationId" : "deleteAddress",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the Address. This can either be the Samsara-provided ID or an external ID. External IDs are customer-specified key-value pairs created in the POST or PATCH requests of this resource. To specify an external ID as part of a path parameter, use the following format: `key:value`. For example, `crmId:abc123`",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "A successful DELETE response is a 204 with no content.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Addresses" ],
        "summary" : "Update an address",
        "description" : "Update a specific address.",
        "operationId" : "updateAddress",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the Address. This can either be the Samsara-provided ID or an external ID. External IDs are customer-specified key-value pairs created in the POST or PATCH requests of this resource. To specify an external ID as part of a path parameter, use the following format: `key:value`. For example, `crmId:abc123`",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The address fields to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateAddressRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Updated address object with ID.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "address"
      }
    },
    "/attributes" : {
      "get" : {
        "tags" : [ "Beta APIs" ],
        "summary" : "[beta] List all attributes by entity type",
        "description" : "Fetch all attributes in an organization associated with either drivers or vehicles.",
        "operationId" : "getAttributesByEntityType",
        "parameters" : [ {
          "name" : "entityType",
          "in" : "query",
          "description" : "Denotes the type of entity, driver or vehicle.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "driver", "vehicle" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 512,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All attributes in an organization for an entity type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetAttributesByEntityTypeResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Beta APIs" ],
        "summary" : "[beta] Create an attribute",
        "description" : "Creates a new attribute in the organization.",
        "operationId" : "createAttribute",
        "requestBody" : {
          "description" : "The attribute to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateAttributeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Newly created attribute object with ID.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttributeExpandedResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "attribute"
      }
    },
    "/attributes/{id}" : {
      "get" : {
        "tags" : [ "Beta APIs" ],
        "summary" : "[beta] Retrieve an attribute",
        "description" : "Fetch an attribute by id, including all of its applications",
        "operationId" : "getAttribute",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Samsara-provided UUID of the attribute.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entityType",
          "in" : "query",
          "description" : "Denotes the type of entity, driver or vehicle.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "driver", "vehicle" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The attribute corresponding to request id.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttributeExpandedResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Beta APIs" ],
        "summary" : "[beta] Deleting an attribute",
        "description" : "Delete an attribute by id, including all of its applications",
        "operationId" : "deleteAttribute",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Samsara-provided UUID of the attribute.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entityType",
          "in" : "query",
          "description" : "Denotes the type of entity, driver or vehicle.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "driver", "vehicle" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "A successful DELETE response is a 204 with no content.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Beta APIs" ],
        "summary" : "[beta] Update an attribute",
        "description" : "Updates an attribute in the organization.",
        "operationId" : "updateAttribute",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Samsara-provided UUID of the attribute.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The attribute to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateAttributeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Newly created attribute object with ID.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttributeExpandedResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "attribute"
      }
    },
    "/contacts" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "List all contacts",
        "description" : "Returns a list of all contacts in an organization.",
        "operationId" : "listContacts",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 512,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of all contacts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListContactsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "Create a contact",
        "description" : "Add a contact to the organization",
        "operationId" : "createContact",
        "requestBody" : {
          "description" : "The contact create parameters.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateContactRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Contact was successfully added.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "contact"
      }
    },
    "/contacts/{id}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Retrieve a contact",
        "description" : "Get a specific contact's information.",
        "operationId" : "getContact",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for the contact.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the specified contact.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Contacts" ],
        "summary" : "Delete a contact",
        "description" : "Delete the given contact.",
        "operationId" : "deleteContact",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for the contact.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "A successful DELETE response is a 204 with no content.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Contacts" ],
        "summary" : "Update a contact",
        "description" : "Update a specific contact's information.",
        "operationId" : "updateContact",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for the contact.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Updates to the contact.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateContactRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Updated contact object with given ID.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "contact"
      }
    },
    "/fleet/carrier-proposed-assignments" : {
      "get" : {
        "tags" : [ "Carrier Proposed Assignments" ],
        "summary" : "Retrieve assignments",
        "description" : "Show the assignments that are active for drivers and that would currently be visible to them in the driver app.",
        "operationId" : "listCarrierProposedAssignments",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 512,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driverIds",
          "in" : "query",
          "description" : "If specified, limits the results to those for these drivers. e.g. `driverIds=1,2,3`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "activeTime",
          "in" : "query",
          "description" : "If specified, shows assignments that will be active at this time. Defaults to now, which would show current active assignments. In RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the assignments that drivers would see in the future, if any.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListCarrierProposedAssignmentResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Carrier Proposed Assignments" ],
        "summary" : "Create an assignment",
        "description" : "Creates a new assignment that a driver can later use. Each driver can only have one future assignment.",
        "operationId" : "createCarrierProposedAssignment",
        "requestBody" : {
          "description" : "The assignment to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateCarrierProposedAssignmentRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Return the created assignment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarrierProposedAssignmentResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "carrierProposedAssignment"
      }
    },
    "/fleet/carrier-proposed-assignments/{id}" : {
      "delete" : {
        "tags" : [ "Carrier Proposed Assignments" ],
        "summary" : "Delete an assignment",
        "description" : "Permanently delete an assignment. You can only delete assignments that are not yet active. To override a currently active assignment, create a new empty one, instead.",
        "operationId" : "deleteCarrierProposedAssignment",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the assignment.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "A successful DELETE response is a 204 with no content.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fleet/defects/history" : {
      "get" : {
        "tags" : [ "Maintenance" ],
        "summary" : "Get all defects",
        "description" : "Returns a list of DVIR defects in an organization, filtered by creation time. The maximum time period you can query for is 30 days.",
        "operationId" : "getDvirDefects",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 512,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "A start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00). *The maximum time period you can query for is 30 days.*",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "An end time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00). *The maximum time period you can query for is 30 days.*",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isResolved",
          "in" : "query",
          "description" : "A filter on the data based on resolution status. Example: `isResolved=true`",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of all DVIR defects in the organization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefectsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fleet/defects/{id}" : {
      "patch" : {
        "tags" : [ "Maintenance" ],
        "summary" : "Update a defect",
        "description" : "Updates a given defect. Can be used to resolve a defect by marking its `isResolved` field to `true`.",
        "operationId" : "updateDvirDefect",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the defect.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The DVIR defect fields to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DefectPatch"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Return the modified defect entity",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefectResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "defect"
      }
    },
    "/fleet/document-types" : {
      "get" : {
        "tags" : [ "Beta APIs" ],
        "summary" : "[beta] Fetch document types ",
        "description" : "Returns a list of the organization document types",
        "operationId" : "getDocumentTypes",
        "responses" : {
          "200" : {
            "description" : "OK response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentTypesGetDocumentTypesResponseBody"
                },
                "example" : {
                  "data" : [ {
                    "conditionalFieldSections" : [ {
                      "conditionalFieldFirstIndex" : 1,
                      "conditionalFieldLastIndex" : 2,
                      "triggeringFieldIndex" : 0,
                      "triggeringFieldValue" : "Yes"
                    } ],
                    "fieldTypes" : [ {
                      "fieldType" : "multipleChoice",
                      "label" : "Was there damage?",
                      "multipleChoiceFieldTypeMetaData" : [ {
                        "label" : "Yes"
                      }, {
                        "label" : "No"
                      } ],
                      "requiredField" : true
                    }, {
                      "fieldType" : "photo",
                      "label" : "Damage Photos",
                      "requiredField" : false
                    }, {
                      "fieldType" : "number",
                      "label" : "Number of vehicles impacted",
                      "numberFieldTypeMetaData" : {
                        "numberOfDecimalPlaces" : 2
                      },
                      "requiredField" : false
                    }, {
                      "fieldType" : "dateTime",
                      "label" : "Date and time",
                      "requiredField" : true
                    }, {
                      "fieldType" : "signature",
                      "label" : "Sign",
                      "requiredField" : true,
                      "signatureFieldTypeMetaData" : {
                        "legalText" : "Legal Text"
                      }
                    } ],
                    "id" : "4aff772c-a7bb-45e6-8e41-6a53e34feb83",
                    "name" : "Accident Report",
                    "orgId" : 12345
                  } ],
                  "pagination" : {
                    "endCursor" : "MjkY",
                    "hasNextPage" : true
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentTypesGetDocumentTypesInternalErrorResponseBody"
                },
                "example" : {
                  "message" : "Failed to execute GraphQL query.",
                  "requestId" : "8916e1c1"
                }
              }
            }
          },
          "default" : {
            "description" : "Bad Request response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentTypesGetDocumentTypesBadRequestResponseBody"
                },
                "example" : {
                  "message" : "Invalid value for parameter.",
                  "requestId" : "8916e1c1"
                }
              }
            }
          }
        }
      }
    },
    "/fleet/documents" : {
      "get" : {
        "tags" : [ "Preview APIs" ],
        "summary" : "[preview] Fetch all documents",
        "description" : "Get all documents for the given time range",
        "operationId" : "getDocuments",
        "parameters" : [ {
          "name" : "startTime",
          "in" : "query",
          "description" : " A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : " An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : " If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "documentTypeId",
          "in" : "query",
          "description" : "ID of the document template type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentsGetDocumentsResponseBody"
                },
                "example" : {
                  "data" : [ {
                    "conditionalFieldSections" : [ {
                      "conditionalFieldFirstIndex" : 2949691048040286700,
                      "conditionalFieldLastIndex" : 5188021910068834000,
                      "triggeringFieldIndex" : 6312989348082117000,
                      "triggeringFieldValue" : "Amet sapiente non tempora id reprehenderit."
                    }, {
                      "conditionalFieldFirstIndex" : 2949691048040286700,
                      "conditionalFieldLastIndex" : 5188021910068834000,
                      "triggeringFieldIndex" : 6312989348082117000,
                      "triggeringFieldValue" : "Amet sapiente non tempora id reprehenderit."
                    }, {
                      "conditionalFieldFirstIndex" : 2949691048040286700,
                      "conditionalFieldLastIndex" : 5188021910068834000,
                      "triggeringFieldIndex" : 6312989348082117000,
                      "triggeringFieldValue" : "Amet sapiente non tempora id reprehenderit."
                    } ],
                    "createdAtTime" : "1993-05-23T22:05:38Z",
                    "documentType" : {
                      "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                      "name" : "Fleet Truck List"
                    },
                    "driver" : {
                      "externalIds" : {
                        "maintenanceId" : "250020",
                        "payrollId" : "ABFS18600"
                      },
                      "id" : "45646",
                      "name" : "Driver Bob"
                    },
                    "fields" : [ {
                      "label" : "Load weight",
                      "type" : "scannedDocument",
                      "value" : {
                        "barcodeValue" : {
                          "barcodeType" : "org.gs1.EAN-13",
                          "barcodeValue" : "0853883003114"
                        },
                        "dateTimeValue" : {
                          "dateTime" : "1988-11-10T02:42:05Z"
                        },
                        "multipleChoiceValue" : {
                          "selected" : false,
                          "value" : "Yes"
                        },
                        "numberValue" : 123,
                        "photoValue" : {
                          "id" : "f5271458-21f9-4a9f-a290-780c6d8840ff",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "signatureValue" : {
                          "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                          "name" : "John Smith",
                          "signedAtTime" : "1996-02-21T06:57:25Z",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "stringValue" : "Red Truck"
                      }
                    }, {
                      "label" : "Load weight",
                      "type" : "scannedDocument",
                      "value" : {
                        "barcodeValue" : {
                          "barcodeType" : "org.gs1.EAN-13",
                          "barcodeValue" : "0853883003114"
                        },
                        "dateTimeValue" : {
                          "dateTime" : "1988-11-10T02:42:05Z"
                        },
                        "multipleChoiceValue" : {
                          "selected" : false,
                          "value" : "Yes"
                        },
                        "numberValue" : 123,
                        "photoValue" : {
                          "id" : "f5271458-21f9-4a9f-a290-780c6d8840ff",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "signatureValue" : {
                          "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                          "name" : "John Smith",
                          "signedAtTime" : "1996-02-21T06:57:25Z",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "stringValue" : "Red Truck"
                      }
                    } ],
                    "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                    "name" : "Dropoff Slip 123",
                    "notes" : "Missing a crate",
                    "routeStop" : {
                      "externalIds" : {
                        "maintenanceId" : "250020",
                        "payrollId" : "ABFS18600"
                      },
                      "id" : "494123",
                      "name" : "Company Warehouse #1"
                    },
                    "state" : "submitted",
                    "updatedAtTime" : "1985-01-12T07:25:57Z",
                    "vehicle" : {
                      "externalIds" : {
                        "maintenanceId" : "250020",
                        "payrollId" : "ABFS18600"
                      },
                      "id" : "494123",
                      "name" : "Fleet Truck #1"
                    }
                  }, {
                    "conditionalFieldSections" : [ {
                      "conditionalFieldFirstIndex" : 2949691048040286700,
                      "conditionalFieldLastIndex" : 5188021910068834000,
                      "triggeringFieldIndex" : 6312989348082117000,
                      "triggeringFieldValue" : "Amet sapiente non tempora id reprehenderit."
                    }, {
                      "conditionalFieldFirstIndex" : 2949691048040286700,
                      "conditionalFieldLastIndex" : 5188021910068834000,
                      "triggeringFieldIndex" : 6312989348082117000,
                      "triggeringFieldValue" : "Amet sapiente non tempora id reprehenderit."
                    }, {
                      "conditionalFieldFirstIndex" : 2949691048040286700,
                      "conditionalFieldLastIndex" : 5188021910068834000,
                      "triggeringFieldIndex" : 6312989348082117000,
                      "triggeringFieldValue" : "Amet sapiente non tempora id reprehenderit."
                    } ],
                    "createdAtTime" : "1993-05-23T22:05:38Z",
                    "documentType" : {
                      "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                      "name" : "Fleet Truck List"
                    },
                    "driver" : {
                      "externalIds" : {
                        "maintenanceId" : "250020",
                        "payrollId" : "ABFS18600"
                      },
                      "id" : "45646",
                      "name" : "Driver Bob"
                    },
                    "fields" : [ {
                      "label" : "Load weight",
                      "type" : "scannedDocument",
                      "value" : {
                        "barcodeValue" : {
                          "barcodeType" : "org.gs1.EAN-13",
                          "barcodeValue" : "0853883003114"
                        },
                        "dateTimeValue" : {
                          "dateTime" : "1988-11-10T02:42:05Z"
                        },
                        "multipleChoiceValue" : {
                          "selected" : false,
                          "value" : "Yes"
                        },
                        "numberValue" : 123,
                        "photoValue" : {
                          "id" : "f5271458-21f9-4a9f-a290-780c6d8840ff",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "signatureValue" : {
                          "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                          "name" : "John Smith",
                          "signedAtTime" : "1996-02-21T06:57:25Z",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "stringValue" : "Red Truck"
                      }
                    }, {
                      "label" : "Load weight",
                      "type" : "scannedDocument",
                      "value" : {
                        "barcodeValue" : {
                          "barcodeType" : "org.gs1.EAN-13",
                          "barcodeValue" : "0853883003114"
                        },
                        "dateTimeValue" : {
                          "dateTime" : "1988-11-10T02:42:05Z"
                        },
                        "multipleChoiceValue" : {
                          "selected" : false,
                          "value" : "Yes"
                        },
                        "numberValue" : 123,
                        "photoValue" : {
                          "id" : "f5271458-21f9-4a9f-a290-780c6d8840ff",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "signatureValue" : {
                          "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                          "name" : "John Smith",
                          "signedAtTime" : "1996-02-21T06:57:25Z",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "stringValue" : "Red Truck"
                      }
                    } ],
                    "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                    "name" : "Dropoff Slip 123",
                    "notes" : "Missing a crate",
                    "routeStop" : {
                      "externalIds" : {
                        "maintenanceId" : "250020",
                        "payrollId" : "ABFS18600"
                      },
                      "id" : "494123",
                      "name" : "Company Warehouse #1"
                    },
                    "state" : "submitted",
                    "updatedAtTime" : "1985-01-12T07:25:57Z",
                    "vehicle" : {
                      "externalIds" : {
                        "maintenanceId" : "250020",
                        "payrollId" : "ABFS18600"
                      },
                      "id" : "494123",
                      "name" : "Fleet Truck #1"
                    }
                  } ],
                  "pagination" : {
                    "endCursor" : "MjkY",
                    "hasNextPage" : true
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentsGetDocumentsInternalErrorResponseBody"
                },
                "example" : {
                  "message" : "Failed to execute GraphQL query.",
                  "requestId" : "8916e1c1"
                }
              }
            }
          },
          "default" : {
            "description" : "Bad Request response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentsGetDocumentsBadRequestResponseBody"
                },
                "example" : {
                  "message" : "Invalid value for parameter.",
                  "requestId" : "8916e1c1"
                }
              }
            }
          }
        }
      }
    },
    "/fleet/documents/pdfs" : {
      "post" : {
        "tags" : [ "Documents" ],
        "summary" : "Create a document PDF",
        "description" : "Request creation of a document PDF.",
        "operationId" : "generateDocumentPdf",
        "requestBody" : {
          "description" : "Specifies the document for which to generate a PDF.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DocumentPdfGenerationRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Newly created PDF generation job.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentPdfGenerationResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "document"
      }
    },
    "/fleet/documents/pdfs/{id}" : {
      "get" : {
        "tags" : [ "Documents" ],
        "summary" : "Query a document PDF",
        "description" : "Returns generation job status and download URL for a PDF.",
        "operationId" : "getDocumentPdf",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the pdf.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Document PDF job status and download URL.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentPdfQueryResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fleet/documents/{id}" : {
      "get" : {
        "tags" : [ "Preview APIs" ],
        "summary" : "[preview] Fetch document",
        "description" : "Returns a single document",
        "operationId" : "getDocument",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the document",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DocumentsGetDocumentRequestBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentsGetDocumentResponseBody"
                },
                "example" : {
                  "data" : {
                    "conditionalFieldSections" : [ {
                      "conditionalFieldFirstIndex" : 2949691048040286700,
                      "conditionalFieldLastIndex" : 5188021910068834000,
                      "triggeringFieldIndex" : 6312989348082117000,
                      "triggeringFieldValue" : "Amet sapiente non tempora id reprehenderit."
                    }, {
                      "conditionalFieldFirstIndex" : 2949691048040286700,
                      "conditionalFieldLastIndex" : 5188021910068834000,
                      "triggeringFieldIndex" : 6312989348082117000,
                      "triggeringFieldValue" : "Amet sapiente non tempora id reprehenderit."
                    }, {
                      "conditionalFieldFirstIndex" : 2949691048040286700,
                      "conditionalFieldLastIndex" : 5188021910068834000,
                      "triggeringFieldIndex" : 6312989348082117000,
                      "triggeringFieldValue" : "Amet sapiente non tempora id reprehenderit."
                    } ],
                    "createdAtTime" : "1993-05-23T22:05:38Z",
                    "documentType" : {
                      "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                      "name" : "Fleet Truck List"
                    },
                    "driver" : {
                      "externalIds" : {
                        "maintenanceId" : "250020",
                        "payrollId" : "ABFS18600"
                      },
                      "id" : "45646",
                      "name" : "Driver Bob"
                    },
                    "fields" : [ {
                      "label" : "Load weight",
                      "type" : "scannedDocument",
                      "value" : {
                        "barcodeValue" : {
                          "barcodeType" : "org.gs1.EAN-13",
                          "barcodeValue" : "0853883003114"
                        },
                        "dateTimeValue" : {
                          "dateTime" : "1988-11-10T02:42:05Z"
                        },
                        "multipleChoiceValue" : {
                          "selected" : false,
                          "value" : "Yes"
                        },
                        "numberValue" : 123,
                        "photoValue" : {
                          "id" : "f5271458-21f9-4a9f-a290-780c6d8840ff",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "signatureValue" : {
                          "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                          "name" : "John Smith",
                          "signedAtTime" : "1996-02-21T06:57:25Z",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "stringValue" : "Red Truck"
                      }
                    }, {
                      "label" : "Load weight",
                      "type" : "scannedDocument",
                      "value" : {
                        "barcodeValue" : {
                          "barcodeType" : "org.gs1.EAN-13",
                          "barcodeValue" : "0853883003114"
                        },
                        "dateTimeValue" : {
                          "dateTime" : "1988-11-10T02:42:05Z"
                        },
                        "multipleChoiceValue" : {
                          "selected" : false,
                          "value" : "Yes"
                        },
                        "numberValue" : 123,
                        "photoValue" : {
                          "id" : "f5271458-21f9-4a9f-a290-780c6d8840ff",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "signatureValue" : {
                          "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                          "name" : "John Smith",
                          "signedAtTime" : "1996-02-21T06:57:25Z",
                          "url" : "https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456"
                        },
                        "stringValue" : "Red Truck"
                      }
                    } ],
                    "id" : "9814a1fa-f0c6-408b-bf85-51dc3bc71ac7",
                    "name" : "Dropoff Slip 123",
                    "notes" : "Missing a crate",
                    "routeStop" : {
                      "externalIds" : {
                        "maintenanceId" : "250020",
                        "payrollId" : "ABFS18600"
                      },
                      "id" : "494123",
                      "name" : "Company Warehouse #1"
                    },
                    "state" : "submitted",
                    "updatedAtTime" : "1985-01-12T07:25:57Z",
                    "vehicle" : {
                      "externalIds" : {
                        "maintenanceId" : "250020",
                        "payrollId" : "ABFS18600"
                      },
                      "id" : "494123",
                      "name" : "Fleet Truck #1"
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentsGetDocumentInternalErrorResponseBody"
                },
                "example" : {
                  "message" : "Failed to execute GraphQL query.",
                  "requestId" : "8916e1c1"
                }
              }
            }
          },
          "default" : {
            "description" : "Bad Request response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentsGetDocumentBadRequestResponseBody"
                },
                "example" : {
                  "message" : "Invalid value for parameter.",
                  "requestId" : "8916e1c1"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "GetDocumentRequestBody"
      }
    },
    "/fleet/drivers" : {
      "get" : {
        "tags" : [ "Drivers" ],
        "summary" : "List all drivers",
        "description" : "Get all drivers in organization.",
        "operationId" : "listDrivers",
        "parameters" : [ {
          "name" : "driverActivationStatus",
          "in" : "query",
          "description" : "If value is `deactivated`, only drivers that are deactivated will appear in the response. This parameter will default to `active` if not provided (fetching only active drivers).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "active", "deactivated" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 512,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentTagIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "tagIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "updatedAfterTime",
          "in" : "query",
          "description" : "A filter on data to have an updated at time after or equal to this specified time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdAfterTime",
          "in" : "query",
          "description" : "A filter on data to have a created at time after or equal to this specified time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of all driver objects.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListDriversResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Drivers" ],
        "summary" : "Create a driver",
        "description" : "Add a driver to the organization.",
        "operationId" : "createDriver",
        "requestBody" : {
          "description" : "The driver to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateDriverRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Newly created driver object, with Samsara-generated ID.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriverResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "driver"
      }
    },
    "/fleet/drivers/efficiency" : {
      "get" : {
        "tags" : [ "Beta APIs" ],
        "summary" : "[beta] List driver efficiency",
        "description" : "Get all drivers' efficiencies.",
        "operationId" : "getDriverEfficiency",
        "parameters" : [ {
          "name" : "driverActivationStatus",
          "in" : "query",
          "description" : "If value is `deactivated`, only drivers that are deactivated will appear in the response. This parameter will default to `active` if not provided (fetching only active drivers).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "active", "deactivated" ]
          }
        }, {
          "name" : "driverIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of driver IDs. Cannot be used with tag filtering or driver status. Example: `driverIds=1234,5678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driverTagIds",
          "in" : "query",
          "description" : "Filters summary to drivers based on this comma-separated list of tag IDs. Data from all the drivers' respective vehicles will be included in the summary, regardless of which tag the vehicle is associated with. Should not be provided in addition to `driverIds`. Example: driverTagIds=1234,5678",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "driverParentTagIds",
          "in" : "query",
          "description" : "Filters like `driverTagIds` but includes descendants of all the given parent tags. Should not be provided in addition to `driverIds`. Example: `driverParentTagIds=1234,5678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "A start time in RFC 3339 format. The results will be truncated to the hour mark for the provided time. For example, if `startTime` is 2020-03-17T12:06:19Z then the results will include data starting from 2020-03-17T12:00:00Z. The provided start time cannot be in the future. Start time can be at most 31 days before the end time. If the start time is within the last hour, the results will be empty. Default: 24 hours prior to endTime.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "An end time in RFC 3339 format. The results will be truncated to the hour mark for the provided time. For example, if `endTime` is 2020-03-17T12:06:19Z then the results will include data up until 2020-03-17T12:00:00Z. The provided end time cannot be in the future. End time can be at most 31 days after the start time.   Default: The current time truncated to the hour mark.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of all drivers' efficiencies",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriverEfficienciesResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fleet/drivers/tachograph-activity/history" : {
      "get" : {
        "tags" : [ "Drivers" ],
        "summary" : "Get driver tachograph activity",
        "description" : "Returns all known tachograph activity for all specified drivers in the time range.",
        "operationId" : "getDriverTachographActivity",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "A start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "An end time in RFC 3339 format. It can't be more than 30 days past startTime. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driverIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of driver IDs. Example: `driverIds=1234,5678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "parentTagIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "tagIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of all driver tachograph activities in a specified time range.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriverTachographActivityResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fleet/drivers/tachograph-files/history" : {
      "get" : {
        "tags" : [ "Drivers" ],
        "summary" : "Get tachograph driver files",
        "description" : "Returns all known tachograph files for all specified drivers in the time range.",
        "operationId" : "getDriverTachographFiles",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startTime",
          "in" : "query",
          "description" : "A start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : "An end time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driverIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of driver IDs. Example: `driverIds=1234,5678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "parentTagIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "tagIds",
          "in" : "query",
          "description" : "A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of all driver tachograph files in a specified time range.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TachographDriverFilesResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/standardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fleet/drivers/vehicle-assignments" : {
      "get" : {
        "tags" : [ "Driver Vehicle Assignments" ],
        "summary" : "Get all driver vehicle assignments.",
        "description" : "Get all driver assignments for the requested vehicles in the requested time range. The only type of assignment supported right now are assignments created through the driver app.",
        "operationId" : "getDriversVehicleAssignments",
        "parameters" : [ {
          "name" : "startTime",
          "in" : "query",
          "description" : " A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00). The maximum allowed startTime-endTime range is 7 days.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endTime",
          "in" : "query",
          "description" : " An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00). The maximum allowed startTime-endTime range is 7 days.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driverIds",
          "in" : "query",
          "description" : " A filter on the data based on this comma-separated list of driver IDs and externalIds. Example: `driverIds=1234,5678,payroll:4841`",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tagIds",
          "in" : "query",
          "description" : " A filter on the data based on this comma-separated list of driver tag IDs. Example: `tagIds=1234,5678`",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentTagIds",
          "in" : "query",
          "description" : " A filter on the data based on this comma-separated list of driver parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driverActivationStatus",
          "in" : "query",
          "description" : "If value is `deactivated`, only drivers that are deactivated will appear in the response. This parameter will default to `active` if not provided (fetching only active drivers).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "active", "deactivated" ],
            "default" : "active"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : " If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
[...]
